body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

a {
  text-decoration: none;
}

main {
  padding : 60px;
  color : white;
  overflow: hidden;
}

.left{
  float :left;
  width :300px;
  height : 300px;
}

.right{
  float :right;
  width :300px;
  height : 300px;
}
/* your styles go here! */ 